In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# 샘플 데이터프레임 호출
df1 = sns.load_dataset('iris')
df1

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
# 인덱스 기준으로 데이터 처리하기
for i in range(len(df1)):
    if df1.loc[i, 'petal_width'] <= 0.2:
        df1.loc[i, 'group1'] = 0
    elif df1.loc[i, 'petal_width'] <= 1:
        df1.loc[i, 'group1'] = 1
    elif df1.loc[i, 'petal_width'] <= 2:
        df1.loc[i, 'group1'] = 2
    else:
        df1.loc[i, 'group1'] = 3

df1

     sepal_length  sepal_width  petal_length  petal_width    species  group1
0             5.1          3.5           1.4          0.2     setosa     0.0
1             4.9          3.0           1.4          0.2     setosa     0.0
2             4.7          3.2           1.3          0.2     setosa     0.0
3             4.6          3.1           1.5          0.2     setosa     0.0
4             5.0          3.6           1.4          0.2     setosa     0.0
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica     3.0
146           6.3          2.5           5.0          1.9  virginica     2.0
147           6.5          3.0           5.2          2.0  virginica     2.0
148           6.2          3.4           5.4          2.3  virginica     3.0
149           5.9          3.0           5.1          1.8  virginica     2.0

[150 rows x 6 columns]

In [4]:
# iterrows() :  DataFrame 각 행의 정보를 담은 객체 활용, 연산속도 더 빠름
group2 = []
for idx, var1 in df1.iterrows():
    if var1['petal_width'] <= 0.2:
        group2.append(0)
    elif var1['petal_width'] <= 1:
        group2.append(1)
    elif var1['petal_width'] <= 2:
        group2.append(2)
    else:
        group2.append(3)

df1['group2'] = group2

df1

,sepal_length,sepal_width,petal_length,petal_width,species,group1,group2
0,5.1,3.5,1.4,0.2,setosa,0.0,0
1,4.9,3.0,1.4,0.2,setosa,0.0,0
2,4.7,3.2,1.3,0.2,setosa,0.0,0
3,4.6,3.1,1.5,0.2,setosa,0.0,0
4,5.0,3.6,1.4,0.2,setosa,0.0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3.0,3
146,6.3,2.5,5.0,1.9,virginica,2.0,2
147,6.5,3.0,5.2,2.0,virginica,2.0,2
148,6.2,3.4,5.4,2.3,virginica,3.0,3
149,5.9,3.0,5.1,1.8,virginica,2.0,2

In [5]:
# itertuples() : 데이터의 인덱스, 열-값 정보를 map 오브젝트의 튜플 형태로 반환, 연산속도 가장 빠름
group3 = []
for var2 in df1.itertuples():
    if var2.petal_width <= 0.2:
        group3.append(0)
    elif var2.petal_width <= 1:
        group3.append(1)
    elif var2.petal_width <= 2:
        group3.append(2)
    else:
        group3.append(3)

df1['group3'] = group3

df1

,sepal_length,sepal_width,petal_length,petal_width,species,group1,group2,group3
0,5.1,3.5,1.4,0.2,setosa,0.0,0,0
1,4.9,3.0,1.4,0.2,setosa,0.0,0,0
2,4.7,3.2,1.3,0.2,setosa,0.0,0,0
3,4.6,3.1,1.5,0.2,setosa,0.0,0,0
4,5.0,3.6,1.4,0.2,setosa,0.0,0,0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3.0,3,3
146,6.3,2.5,5.0,1.9,virginica,2.0,2,2
147,6.5,3.0,5.2,2.0,virginica,2.0,2,2
148,6.2,3.4,5.4,2.3,virginica,3.0,3,3
149,5.9,3.0,5.1,1.8,virginica,2.0,2,2